<div class="container">
<h1>Voting Results!</h1>
 <% @ideas.each do |idea| %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
     <div class="panel panel-default">
       <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#<%= @id %>">
         <h4 class="panel-title">
           <%= idea.title %> 
           <span class="badge drop"><%= idea.votes %></span>
   <!-- ended button --> 
         </h4>
         <h4 class="panel-title">
           by: <%= idea.author %>
         </h4>
       </div>
       <div id="<%= @id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
         <div class="panel-body">
           <%= idea.description %> 
         </div>
       </div>
     </div>  
   </div>
 <% end %>
</div>