  <div class="container">
   <ol class="breadcrumb">
      <li class="active">Submit Ideas</li>
      <li><a href="/student/vote">Vote Projects</a></li>
      <li><a href="/final">Final Groups</a></li>
    </ol>
    <h1>Cast Your Votes</h1>
        <!-- collapsible group --> 
    <% @id = 1 %>
    <% @ideas.each do |idea| %> 
    <form method='POST' action="/cast"> 
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#<%= @id %>">
          <h4 class="panel-title">
            <%= idea.title %> </br>
            <small>by: <%= idea.author %></small>
            <span class="check"><input type="checkbox" name="votes[<%= idea.id %>]" ></span>
          </h4>
        </div>
        <div id="<%= @id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <%= idea.description %> 
          </div>
        </div>
      </div>  
    </div>
    <% @id += 1 %>
    <% end %>
    <button id="button" type="submit" value='vote_click' class="btn btn-warning btn-lg">VOTE!</button>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#button').click(function checkboxes(){
        var count = 0;
        var inputElems = document.getElementsByTagName("input");
        for (var i=0; i<inputElems.length; i++) {
          if (inputElems[i].type === "checkbox" && inputElems[i].checked === true) {
            count++;
          }
        }
        console.log(count)
      });
    });
  </script>