 <div class="container">
  <!-- nav --> 
 
<!-- nav end --> 
<h1>
  Final Midterm Teams
</h1>
<!-- collapsible group --> 
<% @id = 1 %>
<% @ideas.each do |idea| %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
   <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#<%= @id %>">
    <h4 class="panel-title">
     
     <%= idea.title %> 
     <small>(by: <%= idea.author %>)</small>
     <span class="badge"><%= idea.votes %> votes</span>
     <!--added button -->
     <div class="btn-group drop">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret "></span>
      </button>
      <ul class="dropdown-menu" role="menu">
       <li><a href="#">Edit Teams</a></li>
       <li><a href="#">Remove</a></li>
     </ul>
   </div>
   <!-- ended button --> 
   
 </h4>
</div>
<% @students.each do |student| %>
  <% if student.idea_id == idea.id %>
  <div id="names" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
        <%= student.name %>
    </div>
  </div>
<% end %>
<% end %>
</div>
<% @id += 1 %>
<% end %> 

</div>